.App {
  background-color: #e1f2f2;
  width: 62.50%;
	height: 74.34%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}
.fa-search{
  margin-bottom: 4%;
  margin-left: 1%;
}


.home{
  height: 70%;
}

/* campo de busca*/
.search-container {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #e1f2f2;
  width: 30%;
  height: 5%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.5px 0 0;
  border: 0 none #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5%;
}

.search-container input {
  font-size: 95%;
  font-family: "Domine", serif;
  border: none;
  background-color: #e1f2f2;
  width: 90%;
  height: 95%;
  border: 0 none #000;
  outline: 0;
}

#search-icon{
  background-color: #e1f2f2;
  width: 5%;
  height: 5%;
}

.New-contact {

  margin-top: 2.5%;
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.New-contact a{
  width: 11%;
}
.New-contact p {

  width: 20%;
  height: 90%;
  margin-top: 0.5%;
  margin-right: 15%;
  color: rgb(33, 54, 54);
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size:x-large;
}
.New-contact button {
  font-family: "Domine", serif;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size:small;
  background-color:#56706f;
  border: none;
  border-radius: 0.5em;
}
.New-contact i {
  margin-right: 2%;
}
